.container {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.generateButton {
  padding: 20px 27px;
  background-color: #2ae881;
  color: #201b10;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 35px;
  border-radius: 25px;
}

.clearButton {
  background-color: #201b10;
  color: white;
  font-weight: 600;
}
